<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  <head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="assets/images/app_icon.png" type="image/x-icon">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

    <![endif]-->

    {% include head-custom.html %}

  </head>

  <body>

    <div class="wrapper">

      <header>

        <h1><a href="{{ "ROO ENPatcher" }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}

          <img src="{{"/assets/images/thumbnail_logo.png"}}" alt="Logo" />

        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}

        <p class="view"><a href="{{ "" }}">Join Discord<small>{{ site.github.repository_nwo }}</small></a></p>

        {% endif %}

        {% if site.github.is_user_page %}

        <p class="view"><a href="{{ "https://youtu.be/wdGyezQaeOI" }}">How to Download APK</a></p>

        {% endif %}

        {% if site.show_downloads %}

        <ul class="downloads">

          <li><a href="{{ "/assets/files/HotUpdate.zip" }}">Download <strong>KR ZIP File</strong></a></li>

          <li><a href="{{ "https://rshrt.com/NewROENPatcher" }}">Download <strong>APK</strong></a></li>

          <li><a href="{{ "https://t.me/+DY6bUub25lVlNDY1" }}">Join<strong>Telegram</strong></a></li>

        </ul>

       <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4657160638915927"
     crossorigin="anonymous"></script>

        {% endif %}

      </header>

      <section>

</head>

<body>

  

  

      {{ content }}

      </section>

      <footer>

    <div class="container-fluid">

        <div class="media-container-row align-center mbr-white">

            

            <div class="row social-row">

                <div class="social-list align-right pb-2">

                    

                    

                    

                    

                    

                    

                <div class="soc-item">

                        <a href="https://facebook.com/gamingwithgel" target="_blank">

                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>

                        </a>

                    </div>

                </div>

        </div>

    </section>

        {% if site.github.is_project_page %}

        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>

        {% endif %}

        <p><small>© Copyright 2022. All Rights Reserved. Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </footer>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>

</html>

