<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/app_icon.png" type="image/x-icon">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "Ragnarok Origin Auto Patcher" }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{"https://github.com/RO-ENPatcher/RO-ENPatcher.github.io/raw/main/assets/images/thumbnail_logo.png"}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ "" }}">Join Discord<small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ "https://www.facebook.com/groups/330569442045338/?ref=share" }}">Join Facebook Group</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ "https://github.com/RO-ENPatcher/file/raw/main/HotUpdate.zip" }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ "https://github.com/RO-ENPatcher/file/releases/download/roo-en-patcher/Ragnarok.Origin.-.EN_1.0.8.apk" }}">Download <strong>APK</strong></a></li>
          <li><a href="{{ "" }}">Join<strong>Discord</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

</head>
<body>
  
  <section class="header6 cid-sbmOi7XDcd mbr-fullscreen mbr-parallax-background" id="header6-3">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(51, 51, 51);"></div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">

                <div class="image-wrap">
                    <img src="assets/images/app_icon.png" alt="" title="">
                </div>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>ENGLISH PATCHER</strong></h1>
                <div class="row">
                    <div class="col-12  offset-md-3 col-md-3">
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-3" href="index.html#header7-c">Download Auto Patcher</a></div>
                        <p class="text-danger text-center">*Not compatible for older Android OS.</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="mbr-section-btn mt-3"><a class="btn btn-success display-3" href="index.html#features18-5">Download Manual Patcher</a></div>
                        <p class="text-danger text-center">*Use this if your device is not compatible for the auto patcher</p>
                    </div>
                    
                    
                </div>
                
                
            </div>
        </div>
    </div>
</section>

<section class="header7 cid-sbP7E6qe2d" id="header7-c">

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
